*.sublime-*
build/*
scr/headers/*
selftest.cpp
Suite.cpp
src/*Test.cpp
old
tags
EDIT_COMMITMSG
coverage.out
scratchpad*
**/*.test
*.log
*.aux
*.dvi
*.pdf
*.lof
*.lop
*.lot
*.toc
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.thm
*.synctex.gz
*.prof
*.ps
*.bcf
*.run.xml
*.RData
*.Rhistorypresentation/*.pdf
presentation/*.tex
presentation/*.nav
presentation/*.snm
